<!-- Bootstrap core CSS -->
<link href="bootstrap.min.css" rel="stylesheet">
<main role="main" class="container">
    <div class="jumbotron">
        <p class="lead"><strong>You have not been whitelisted.</strong></p>
        <p>You will be redirected to the login page.</p>
    </div>
</main>
<script type="text/javascript">   
    function Redirect() 
    {  
        window.location='/login'; 
    } 
    setTimeout('Redirect()', 5000);   
</script>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="bootstrap.min.js"></script>
